.contacts {
  background-image: url("../../../public/images/contact.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  padding: 100px 50px; /* Espaciado para separar mejor los elementos */
  min-height: 100vh; /* Asegura que cubra toda la altura de la ventana */
  position: relative; /* Cambiado a relative para mantener la estructura */
}

.contacts h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contacts p {
  color: #ddd; /* Color más claro para mayor contraste */
  line-height: 1.6; /* Mejora la legibilidad */
}
.contacts .left img {
  width: 100%; /* O ajusta el tamaño según sea necesario */
  height: auto;
  border-radius: 8px; /* Si deseas esquinas redondeadas */
}

.contacts .right {
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para legibilidad */
  border-radius: 8px;
}

.contacts .items {
  margin: 30px 0;
}

.contacts .box p {
  font-size: 17px;
  margin-top: 10px;
}

.contacts textarea,
.contacts input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  outline: none;
  border: 1px solid #aaa;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo claro para mejorar contraste */
  color: #333;
  border-radius: 4px;
}

form .flexSB input:nth-child(1) {
  margin-right: 10px;
}

.contacts h3 {
  margin-top: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.contacts span {
  color: #1eb2a6;
  font-weight: 600;
  font-size: 15px;
  word-spacing: 5px;
}

.contacts iframe {
  width: 100%;
  height: 400px; /* Ajuste de altura */
  border: none;
  margin-top: 20px;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .contacts {
    padding: 50px 20px;
  }
  .contacts .container {
    flex-direction: column;
  }
  .contacts iframe {
    height: 50vh;
  }
  .contacts .row {
    width: 100%;
  }
}
